/* Set the background color of the entire page */
body {
    background-color: #0a0a23;
  }
  
  /* Styling for the main text area */
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  /* Styling for the game container */
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px; /* Center the game container horizontally */
    padding: 10px;
  }
  
  /* Styling for the controls and stats sections */
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  /* Styling for the monster stats section, initially hidden */
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  /* Styling for individual statistics elements */
  .stat {
    padding-right: 10px;
  }
  
  /* Styling for buttons */
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }
  